<!DOCTYPE html>
<html>
<head>
    <title>Basic Page Layout</title>
    <link rel="stylesheet" href="/bundles/mayflowertemplatetutorial/css/styles.css">
</head>
<body>
    <div id="header">The Navigation goes here</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">The Footer goes here</div>
</body>
</html>