{% if zones[0].blocks %}
<div id="top">
    {% for block in zones[0].blocks %}
        {{ render( controller( "ez_page:viewBlock", {'block': block} ) ) }}
    {% endfor %}
    <hr />
</div>
{% endif %}

{% if zones[1].blocks %}
<div id="middle">
    {% for block in zones[1].blocks %}
        {{ render( controller( "ez_page:viewBlock", {'block': block} ) ) }}
    {% endfor %}
    <hr />
</div>
{% endif %}

{% if zones[2].blocks %}
<div id="bottom">
    {% for block in zones[2].blocks %}
        {{ render( controller( "ez_page:viewBlock", {'block': block} ) ) }}
    {% endfor %}
    <hr />
</div>
{% endif %}