{% set validItems = pageService.getValidBlockItems( block ) %}
<div class="block-mfblock">
    <ul class="items">
        {% for item in validItems %}
            {{ render(
                controller(
                    'ez_content:viewLocation',
                    {
                        'locationId': item.locationId,
                        'viewType': 'full'
                    }
                )
            ) }}
        {% endfor %}
    </ul>
</div>
